create table if not exists public.calisma_ekibi ( id bigint generated by default as identity primary key, ad_soyad text not null, gorev text not null, foto_url text, instagram text, sira integer default 99, created_at timestamp with time zone default timezone('utc'::text, now()) not null ); create policy "Herkes okuyabilir" on public.calisma_ekibi for select using (true); create policy "Anon ekl" on public.calisma_ekibi for insert with check (true); create policy "Anon sil" on public.calisma_ekibi for delete using (true); create policy "Anon guncelle" on public.calisma_ekibi for update using (true); insert into storage.buckets (id, name, public) values ('staff-photos', 'staff-photos', true) on conflict (id) do nothing; create policy "Herkes yukleyebilir" on storage.objects for insert with check ( bucket_id = 'staff-photos' ); create policy "Herkes gorebilir" on storage.objects for select using ( bucket_id = 'staff-photos' ); create policy "Herkes silebilir" on storage.objects for delete using ( bucket_id = 'staff-photos' ); create policy "Herkes guncelleyebilir" on storage.objects for update using ( bucket_id = 'staff-photos' );
